
.wrapper{
  width:420px;
  /* background: gray; */
  border-radius: 10px;
  background-color: #F7F9F2;
  padding: 30px 40px ;
}
.wrapper h1{
  font-size: 36px;
  text-align: center;
}
.wrapper .input-box{
 position: relative;
 width: 100%;
 height: 50px;
 margin: 30px 0;
}
.input-box input{
  width: 100%;
  height: 100%;
  background: transparent;
  outline: none;
  border: none;
  border: 2px solid black;
  border-radius: 40px;
  font-size: 16px;
  color: #000;
  padding: 20px 45px 20px 20px
}
.input-box input ::placeholder{
  color: #000;
}

.wrapper .input-box .icon{
  position: absolute;
  right: 20px;
  top: 40%;
  transform: translate(-50%);
  font-size: 17px ;
}
.wrapper .remember{
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  margin-left:10px;
}
.wrapper button{
  width: 100%;
  height: 45px;
  background: #fff;
  color: #000;
  font-size: 16px;
  border-radius: 40px;
  margin-top: 10px;
  cursor: pointer;
  font-weight: 700;
  box-shadow: 0 0 10px rgba(0,0,0,-1);
  outline: none;

}
.wrapper .register-link{
  font-size: 15px;
  text-align: center;
  margin: 20px 0 15px;  
}

/* .register-link p a{
  color: #000;
  text-decoration: none;
  font-weight: 650;
}
.register-link p a:hover{
  text-decoration: underline;
} */